<!doctype html>
<html th:attr="lang=${lang}" xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<title th:text="#{breeds}">Breeds</title>
		<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
		<link th:href="@{/css/main.css}" rel="stylesheet" />
	</head>
	
	<body>
		<div th:replace="~{fragments/navigation :: navigation}"></div>  
	
		<main class="container">
			<div class="bg-body-tertiary p-3 rounded">
				<h1><span th:text="#{breeds}">Breeds</span></h1>
				
				<div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${not #strings.isEmpty(message)}">
					<span th:text="${message}">Record successfully saved!</span>
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
				<div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${not #strings.isEmpty(errorMessage)}">
					<span th:text="${errorMessage}">Error happened</span>
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>	
												
				<div class="table-responsive-sm">
					<div th:if="${#lists.isEmpty(breeds)}">
						<span th:text="#{records.not.found}">No record found.</span>
					</div>
					<br>			
					<table th:if="${not #lists.isEmpty(breeds)}" class="table table-bordered">
						<thead >
							<tr>
								<th scope="col">#</th>
								<th scope="col" th:text="#{breed.name}">Name</th>
								<th scope="col" th:text="#{label.action}">Action</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="breed, iStat : ${breeds}">
								<th scope="row" th:text="${iStat.count}">1</th>
								<td th:text="${breed.name}">Name</td>
								<td>
								<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#tableItemDeleteConfirmModal" th:attr="data-bs_confirmUrl=@{/breeds/{id}/delete(id=${breed.id})}">
									<i title="Deletar" class="bi-trash3"></i>
								</button>
								</td>									
							</tr>
						</tbody>
					</table>
					<br/>
				    <a class="btn btn-primary" href="#" th:href="@{/breeds/add}" th:text="#{btn.new}">New</a>
				    <br/><br/>
				</div>
				    
			</div>
		</main>
		
		<div th:replace="~{fragments/footer :: footer}"></div>  
		
		<th:block th:replace="~{fragments/tableItemDeleteConfirmModal :: tableItemDeleteConfirmModal}" >delete modal</th:block>
		
    </body>
    
</html>
