<!doctype html>
<html th:attr="lang=${lang}" xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<title th:text="#{navigation.owner}">Owner</title>
		<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
		<link th:href="@{/css/main.css}" rel="stylesheet" />
	</head>
	
	<body>
		<div th:replace="~{fragments/navigation :: navigation}"></div>  
	
		<main class="container">
			<div class="bg-body-tertiary p-3 rounded">
				<h1><span th:text="#{owner}">Owner</span></h1>
				
				<div>
					<form action="#" th:action="@{/owners/add}" th:object="${owner}" method="post" novalidate>
						<div class="row g-3">
						
							<div class="col-sm-12">
								<label for="name" class="form-label" th:text="#{owner.name}">Name</label>:
								<input type="text" id="name" th:field="*{name}" class="form-control" th:errorclass="is-invalid"
									th:classappend="${#fields.hasAnyErrors() && !#fields.hasErrors('name')}? is-valid" 
									aria-describedby="nameServerValidationFeedback" autocomplete="off" maxlength="254" required>
								<div id="nameServerValidationFeedback" class="invalid-feedback" th:errors="*{name}">
									Name invalid
								</div>
							</div>
							
							<div class="col-sm-2">
								<label for="name" class="form-label">CPF</label>:
								<input type="text" id="cpf" th:field="*{cpf}" class="form-control" th:errorclass="is-invalid"
									th:classappend="${#fields.hasAnyErrors() && !#fields.hasErrors('cpf')}? is-valid" 
									aria-describedby="cpfServerValidationFeedback" data-inputmask="'mask': '999.999.999-99'" 
									autocomplete="off" maxlength="14" required>
								<div id="cpfServerValidationFeedback" class="invalid-feedback" th:errors="*{cpf}">
									CPF invalid
								</div>
							</div>
							
							<div class="col-sm-2">
								<label for="phone" class="form-label" th:text="#{owner.phone}">Phone</label>:
								<input type="text" id="phone" th:field="*{phone}" class="form-control" th:errorclass="is-invalid" 
									th:classappend="${#fields.hasAnyErrors() && !#fields.hasErrors('phone')}? is-valid" 
									 aria-describedby="phoneServerValidationFeedback" 
									 data-inputmask="'mask': '(99)9999-99999'" autocomplete="off" maxlength="30">
								<div id="phoneServerValidationFeedback" class="invalid-feedback" th:errors="*{phone}">
									Phone invalid
								</div>
							</div>
							
							<div class="col-sm-4">
								<label for="email" class="form-label" th:text="#{owner.email}">email</label>:
								<input type="text" id="email" th:field="*{email}"  class="form-control" th:errorclass="is-invalid" 
								placeholder="you@example.com" th:classappend="${#fields.hasAnyErrors() && !#fields.hasErrors('email')}? is-valid" 
                               			autocomplete="off" maxlength="254"/>
								<div id="emailServerValidationFeedback" class="invalid-feedback" th:errors="*{email}">
									Email invalid
								</div>
							</div>
														
						</div>
						<hr class="my-4">
						<button class="btn btn-primary" type="submit" th:text="#{btn.save}">Save</button>
					</form>
				</div>
				    
			</div>
		</main>
		
		<script>
		// Example starter JavaScript for disabling form submissions if there are invalid fields
		(() => {
		  'use strict'

		  // Fetch all the forms we want to apply custom Bootstrap validation styles to
		  const forms = document.querySelectorAll('.needs-validation2')

		  // Loop over them and prevent submission
		  Array.from(forms).forEach(form => {
		    form.addEventListener('submit', event => {
		      if (!form.checkValidity()) {
		        event.preventDefault()
		        event.stopPropagation()
		      }

		      form.classList.add('was-validated')
		    }, false)
		  })
		})()		
		
		</script>
	
		<div th:replace="~{fragments/footer :: footer}"></div>  
		
    </body>
    
</html>
