<!doctype html>
<html th:attr="lang=${lang}" xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<title th:text="#{odontogram.title}">Odontogram</title>
		<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
		<link th:href="@{/css/main.css}" rel="stylesheet" />
	</head>
	
	<body>
		<div th:replace="~{fragments/navigation :: navigation}"></div>  
	
		<main class="container">
			<div class="bg-body-tertiary p-3 rounded">
				<h1><span th:text="#{odontogram.header}">Odontogram</span></h1>
				
				<div>
					<form action="#" th:action="@{/odontograms/add}" th:object="${odontogram}" method="post" novalidate>
						<div class="row g-3">
							
							<div class="col-sm-12">
								<label for="owner" class="form-label" th:text="#{owner}">Owner</label>:
								<select class="form-select" id="owner" name="owner" th:onchange="changeOwner()" th:if="${owner == null}">
					                <option value="" th:text="#{label.select}"></option>
					                <option th:each="o : ${owners}" 
					                	th:value="${o.id}"
					                	th:text="${o.name}">
					                	Select...
					                </option>
					            </select>
					            <span th:text="${owner.name}" th:if="${owner != null}">Owners</span>
							</div>	
							
							<div class="col-sm-12">
								<label for="animal" class="form-label" th:text="#{animal}">Animal</label>:
								<select id="animal" th:field="*{animal}" class="form-select" th:errorclass="is-invalid" 
									aria-describedby="animalFeedback" th:if="${odontogram.animal == null}">
					                <option value="" th:text="#{label.select}"></option>
					            </select>
								<div id="animalFeedback" class="invalid-feedback" th:errors="*{animal}">
									animal invalid
								</div>					            
					            <span th:text="${odontogram.animal.name}" th:if="${odontogram.animal != null}">Animal</span>
							</div>
							
							<div class="col-sm-3">
								<label for="checkUpDate" class="form-label" th:text="#{odontogram.checkUpDate}">CheckUpDate</label>:
								<input type="date" class="form-control" th:errorclass="is-invalid" th:max="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}"
									id="checkUpDate" th:field="*{checkUpDate}" aria-describedby="checkUpDateServerValidationFeedback" required>
								<div id="checkUpDateServerValidationFeedback" class="invalid-feedback" th:errors="*{checkUpDate}">
									checkUpDate invalid
								</div>
							</div>
							
							<div class="col-sm-12">
								<img src="images/odontogram.jpg" th:src="@{/images/odontogram.jpg}" class="img-fluid" />
							</div>
							
							<div class="col-sm-12">
								<label for="anamnesis" class="form-label" th:text="#{odontogram.anamnesis}">Anamnesis</label>:
								<textarea class="form-control" th:field="*{anamnesis}" th:errorclass="is-invalid" 
									aria-describedby="anamnesisFeedback"></textarea>
								<div id="anamnesisFeedback" class="invalid-feedback" th:errors="*{anamnesis}">
									anamnesis invalid
								</div>							
							</div>
							
							<div class="table-responsive text-nowrap">
								<table class="table">
								  <thead>
								    <tr>
								      <th scope="col"><label th:text="#{odontogram.teethWolf}">Wolf Teeth</label></th>
								      <th scope="col"><label th:text="#{odontogram.teethIncisors}">Incisors</label></th>
								      <th scope="col"><label th:text="#{odontogram.canines}">Canines</label></th>
								      <th scope="col"><label th:text="#{odontogram.molars}">Molars</label></th>
								    </tr>
								  </thead>
								  <tbody>
								    <tr>
								      <td>
								      	<label th:text="#{odontogram.teethWolfPresent}">Presents</label>
								      	<input type="number" id="teethWolfPresent" th:field="*{teethWolfPresent}" inputmode="numeric" pattern="\d*" maxlength="2" min="0" max="99" class="form-control w-75" 
								      	oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"/>
								      </td>
								      <td><label th:text="#{odontogram.standard}">Normal</label><input type="text" pattern="\d*" maxlength="2" class="form-control w-50"/></td>
								      <td><label th:text="#{odontogram.present}">Presents</label><input type="text" pattern="\d*" maxlength="2" class="form-control w-50"/></td>
								      <td><label th:text="#{odontogram.hooks.rostr}">Hooks rostr</label><input type="text" pattern="\d*" maxlength="2" class="form-control w-50"/></td>
								    </tr>
								    <tr>
								      <td>
								      	<label th:text="#{odontogram.teethWolfIncluded}">Included</label>
								      	<input type="number" id="teethWolfIncluded" th:field="*{teethWolfIncluded}" inputmode="numeric" pattern="\d*" maxlength="2" min="0" max="99" class="form-control w-75" 
								      	oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"/>
								      </td>
								      <td><label th:text="#{odontogram.curv.ventr}" >curv.ventr</label><input type="text" pattern="\d*" maxlength="2" class="form-control w-50"/></td>
								      <td><label th:text="#{odontogram.included}">Included</label><input type="text" pattern="\d*" maxlength="2" class="form-control w-50"/></td>
								      <td><label th:text="#{odontogram.hooks.caud}">Hooks caud</label><input type="text" pattern="\d*" maxlength="2" class="form-control w-50"/></td>
								    </tr>
								    <tr>
								      <td>
								      	<label th:text="#{odontogram.teethWolfExtraction}">Extraction</label>
								      	<input type="number" id="teethWolfExtraction" th:field="*{teethWolfExtraction}" inputmode="numeric" pattern="\d*" maxlength="2" min="0" max="99" class="form-control w-75" 
								      	oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"/>
								      </td>
								      <td><label th:text="#{odontogram.curv.dors}">curv.dors</label><input type="text" pattern="\d*" maxlength="2" class="form-control w-50"/></td>
								      <td><label th:text="#{odontogram.calculations}">Calculations</label><input type="text" pattern="\d*" maxlength="2" class="form-control w-50"/></td>
								      <td><label th:text="#{odontogram.ramp.rostr}">Ramp Rostr</label><input type="text" pattern="\d*" maxlength="2" class="form-control w-50"/></td>
								    </tr>
								    <tr>
								      <td></td>
								      <td><label th:text="#{odontogram.diagonal}">Diagonal</label><input type="text" pattern="\d*" maxlength="2" class="form-control w-50"/></td>
								      <td><label th:text="#{odontogram.cutAndPol}">cutAndPol</label><input type="text" pattern="\d*" maxlength="2" class="form-control w-50"/></td>
								      <td><label th:text="#{odontogram.ramp.caud}">Ramp Caud</label><input type="text" pattern="\d*" maxlength="2" class="form-control w-50"/></td>
								    </tr>	
								    <tr>
								      <td></td>
								      <td><label th:text="#{odontogram.deciduous}">Deciduous</label><input type="text" pattern="\d*" maxlength="2" class="form-control w-50"/></td>
								      <td></td>
								      <td><label th:text="#{odontogram.step}">Step</label><input type="text" pattern="\d*" maxlength="2" class="form-control w-50"/></td>
								    </tr>	
								    <tr>
								      <td></td>
								      <td><label th:text="#{odontogram.fractured}">Fractured</label><input type="text" pattern="\d*" maxlength="2" class="form-control w-50"/></td>
								      <td></td>
								      <td><label th:text="#{odontogram.wave}">Wave</label><input type="text" pattern="\d*" maxlength="2" class="form-control w-50"/></td>
								    </tr>
								    <tr>
								      <td></td>
								      <td></td>
								      <td></td>
								      <td><label th:text="#{odontogram.shear.mouth}">Shear Mouth</label><input type="text" pattern="\d*" maxlength="2" class="form-control w-50"/></td>
								    </tr>
								    <tr>
								      <td></td>
								      <td></td>
								      <td></td>
								      <td><label th:text="#{odontogram.deciduous}">Deciduous</label><input type="text" pattern="\d*" maxlength="2" class="form-control w-50"/></td>
								    </tr>								        						    							    
								  </tbody>
								</table>				
							</div>
										
							<div class="col-sm-12">
								<label for="procedures" class="form-label" th:text="#{odontogram.procedures}">Procedures</label>:
								<textarea class="form-control" th:field="*{procedures}" th:errorclass="is-invalid" 
									aria-describedby="proceduresServerValidationFeedback"></textarea>								
								<div id="proceduresFeedback" class="invalid-feedback" th:errors="*{procedures}">
									Procedures invalid
								</div>
							</div>							
							
							<div class="col-sm-12">
								<label for="recommendations" class="form-label" th:text="#{odontogram.recommendations}">Recomendations</label>:
								<textarea class="form-control" th:field="*{recommendations}" th:errorclass="is-invalid" 
									aria-describedby="recommendationsServerValidationFeedback"></textarea>									
								<div id="recommendationsFeedback" class="invalid-feedback" th:errors="*{recommendations}">
									Recommendations invalid
								</div>
							</div>
							
														
						</div>
						<hr class="my-4">
						<button class="btn btn-primary" type="submit" th:text="#{btn.save}">Save</button>
					</form>
				</div>
				    
			</div>
		</main>
		
		<div th:replace="~{fragments/footer :: footer}"></div>
		
		<script type="text/javascript">
		
			function changeOwner() {
			    var selectedOwner = $( "#owner option:selected" ).val();
			    var animalSelect = $("#animal");
			    if (selectedOwner !== ""){
				    $.getJSON("/owners/" + selectedOwner + "/animals", function(data, status){
			    	  var options = [];
			    	  $.each(data, function (key, val) {
			    		  options.push("<option value='" + this.id + "'>" + this.name + "</option>");
			    	  });
			    	  animalSelect.empty().append('<option value="">[[#{label.select}]]</option>');
			    	  if (options.length > 0){
			    		  for (const opt of options) {
			    			  animalSelect.append(opt);
			    		  }
			    	  }else{
			    		  animalSelect.empty().append('<option value="">[[#{label.select}]]</option>');
			    	  }
				    });
			    }else{
			    	animalSelect.empty().append('<option value="">[[#{label.select}]]</option>');
			    }
			}
		
			</script>
		
    </body>
    
</html>
