<!doctype html>
<html th:attr="lang=${lang}" xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<title th:text="#{navigation.animals}">Owner</title>
		<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
		<link th:href="@{/css/main.css}" rel="stylesheet" />
	</head>
	
	<body>
		<div th:replace="~{fragments/navigation :: navigation}"></div>  
	
		<main class="container">
			<div class="bg-body-tertiary p-5 rounded">
				<h1><span th:text="#{animals}">Animal</span></h1>
				
				<div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${not #strings.isEmpty(message)}">
					<span th:text="${message}">Record successfully saved!</span>
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
								
				<div class="table-responsive-sm">
				
					<table class="table table-bordered">
						<thead >
							<tr>
								<th scope="col">#</th>
								<th scope="col" th:text="#{animal.name}">Name</th>
								<th scope="col" th:text="#{animal.age}">Age</th>
								<th scope="col" th:text="#{animal.gender}">Gender</th>
								<th scope="col" th:text="#{owner}">Owner</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="animal, iStat : ${animals}">
								<th scope="row" th:text="${iStat.count}">1</th>
								<td th:text="${animal.name}">Name</td>
								<td th:text="${animal.age}">Age</td>
								<td th:text="#{${animal.gender}}">Gender</td>
								<td th:text="${animal.owner.name}">Owner</td>
							</tr>
						</tbody>
					</table>
				    <a class="btn btn-primary" href="#" th:href="@{/animal}" role="button" th:text="#{btn.new}">New</a>
				    <a class="btn btn-secondary" href="#" role="button" th:href="@{'/odontogram'+${animal != null ? '?animalId='+animal.id : ''}}" th:text="#{animals.add.odontogram}">Add Odontogram</a>
				</div>
				    
			</div>
		</main>
		
		<div th:replace="~{fragments/footer :: footer}"></div>  
		
    </body>
    
</html>
